{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <title>my blog</title>
</head>
<body>
    <div class="ten">
     <b>grammarly blog</b>
     <p>WRITING</p>
     <p>PRODUCT</p>
     <p>COMPANY</p>
    </div>
    <div class="for">
      <div class="ONE">
              <img src="{% static 'core/image/White Women Clothing Promo Flyer.jpg' %}">
      </div>
      
           <div class="you">   <h1> How to travel and blog at the same time</h1></div>
              <div class="nin">
               <h1>STTAFF PICK</h1>
               <h6>how to</h6>
               <p>how to write the perfect Email-<br>Tips and Trick</p>
                    <h6>PRODUCT</h6>
                    <p>Grammarly is here to improve your<br> writing in Google docs</p>
                       <h6>PRODUCT</h6>
                       <p> Grammarly sportlight:how to add<br> new words to your personal<br> dictionary</p>
                           <h6>PRODUCT</h6>
                           <p>Grammarly + medium =happy<br> writers</p>
      </div>
    </div>
                  <div class="can">
                    <div class="TWO"><img src="{% static 'core/image/White Women Clothing Promo Flyer.jpg' %}" alt="">
                    <p>meet four people<br>that will </p>
                    </div>
                  <div class="FOUR"><img src="{% static 'core/image/White Women Clothing Promo Flyer.jpg' %}" alt="">
                    <p>meet four people<br>that will </p>
                </div>
                   <div class="SIX"><img src="{% static 'core/image/White Women Clothing Promo Flyer.jpg' %}" alt="">
                    <p>meet four people<br>that will </p>
                </div>
                  </div>                  
                          
</body>
</html> 